@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap'); /* Inter */

html{
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;;
    font-weight: 400;
    font-size: 17px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container{
	padding: 0 6rem 0 6rem;
}


/* Header Section */
.header{
	padding-top: 2.5rem !important;
}
.header__menu{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.header__link{
	position: relative;
	color: black;
	text-decoration: none;
}
.header__menu a:not(:last-child){
	margin-right: 1.125rem;
}
.header__menu a::after{
	content: '';
	position: absolute;
	display: block;
	width: 0%;
	height: 2px;
	bottom: -0.5rem;
	right: 0;
	left: 0;
	margin: 0 auto;
	background-color: black;
	opacity: 0.7;
	pointer-events: none;
	transition: width 200ms ease-in-out;
}
.header__menu a:hover::after{
	width: 55%;
}

/* Main Section */
.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto 0;
}
.main__section{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: -2rem;
}
.main__title{
	font-size: 2.5rem;
	font-weight: 500;
	align-self: flex-start;
	margin: 0 0 2rem 0;
}
.main__errors{
	margin: -0.625rem 0 1.375rem 0;
	padding: 0;
}
.main__error{
	list-style: none;
	color: #f40000;
}
.main__errors .main__error:not(:last-child){
	margin-bottom: 0.375rem;
}
.main__msgBx{
	margin: -0.875rem 0 1.125rem 0;
	padding: 0;
	align-self: flex-start;
}
.main__msg{
	list-style: none;
}
.main__msg:not(:last-child){
	margin-bottom: 0.25rem;
}
.main__msg.success{
	color: #00a300;
}.main__msg.error{
	color: #f40000;
}

.main__box{
	position: relative;
}
.main__box:not(:nth-last-of-type(2)){
    margin-bottom: 1rem;
}

.main__label{
	position: absolute;
	font-size: 16px;
	top: 50%;
	transform: translateY(-50%);
	left: 0.875rem;
	pointer-events: none;
	transition: font-size 165ms ease-in-out, top 165ms ease-in-out;
}
.main__input:focus + .main__label,
.main__input:not(:placeholder-shown) + .main__label{
	font-size: 13px;
	top: 15px;
}
.main__input{
	padding: 2rem 0.5rem 0.625rem 0.875rem;
	margin: 0;
	outline: 0;
	font-size: 1rem;
	width: calc(6vw + 11rem);
	border: 1px solid black;
	border-radius: 0.3125rem;
}
.main__input::placeholder{
	opacity: 0;
}
.main__forgot{
	display: inline-block;
	position: relative;
	align-self: center;
	color: black;
	text-decoration: none;
	margin: 1rem 0 0 0;
}
.main__forgot::after{
	content: '';
	display: block;
	position: absolute;
	width: 20%;
	height: 3px;
	background-color: black;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -10px;
	opacity: 0.65;
	pointer-events: none;
	transition: width 200ms ease-in-out;
}
.main__forgot:hover::after{
	width: 50%;
}
.main__enterBx{
    margin: 2.25rem 0 0 0;
}
.main__enter{
	position: relative;
	width: calc(6vw + 11rem);
	border: 0;
	outline: 0;
	padding: 1rem 0;
	margin: 0;
	background-color: black;
	color: white;
	font-size: 1.125rem;
	border-radius: 0.3125rem;
	cursor: pointer;
	transition-duration: 270ms;
	transition-property: background-color, box-shadow, color;
	transition-timing-function: ease-in-out;
}
.main__enter:hover{
	background-color: white;
	box-shadow: inset 0 0 0 2px black;
	color: black;
}
.main__or{
	display: block;
	position: relative;
	text-align: center;
	margin: 1.25rem 0 1.5rem 0;
	width: calc(6vw + 11rem);
}
.main__or::after{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	top: 55%;
	transform: translateY(-50%);
	background-color: black;
	z-index: -1;
}
.main__or span{
	font-size: 1rem;
	display: inline-block;
	background-color: white;
	padding: 0 7px;
}
.main__dontAcc{
	margin: 0;
	font-size: 1rem;
}
.main__dontLink{
	position: relative;
	color: black;
	margin-left: 0.375rem;
	text-decoration-style: wavy;
	text-underline-position: under;
	transition: opacity 180ms ease-in-out;
}
.main__dontAcc a:hover{
	opacity: 0.8;
}

@media only screen and (max-width: 72.5em){
	.main__input{
		width: 15.5rem;
	}
	.main__enter{
		width: 15.5rem;
	}
	.main__or{
		width: 15.5rem;
	}
}

@media only screen and (min-width: 24em) and (max-width: 43em){
    .container{
        padding: 0 2rem 2.25rem 2rem;
    }
}

@media only screen and (max-width: 23.9375em){
    .container{
        padding: 0 1rem 2.25rem 1rem;
    }
	.main__input{
		width: 13.5rem;
	}
	.main__enter{
		width: 13.5rem;
	}
	.main__or{
		width: 13.5rem;
	}
	.main__dontAcc{
		display: flex;
		flex-direction: column;
	}
	.main__dontLink{
		margin: 0.125rem 0 0 0;
	}
}

@media only screen and (max-height: 36.625rem){
    .header{
        padding-bottom: 6rem !important;
    }
}